:root {
    font-family: 'Segoe UI', sans-serif;
}

html,
body {
    color: #60e075;
    background-color: #122f12;
    -webkit-user-select: none;
    user-select: none;
}

img {
    -webkit-user-drag: none;
    user-drag: none;
    pointer-events: none;
}

h1 {
    padding: 0;
    margin: 0;
}

h2 {
    padding: 4px 0;
    margin: 0;
    margin-bottom: 8px;
    border-bottom: 1px solid #60e075;
}

p {
    padding: 4px 0;
    margin: 0;
}

.primary-button {
    background-color: #0f5414;
    color: #60e075;
    border-color: #022e05;
    padding: 4px 24px;
}

.primary-button:hover {
    border-color: #05510a;
    cursor: pointer;
}

.primary-button:disabled,
.primary-button[disabled] {
    opacity: 0.4;
    cursor: not-allowed;
}

.panel {
    width: 360px;
    margin-top: 8px;
}

.help-marker {
    display: inline-block;
    position: relative;
    color: #60e07599;
}

.help-marker:hover {
    cursor: help;
    color: #60e075e6;
}

.help-marker[data-tooltip]:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: 0;
    margin-bottom: 2px;
    z-index: 1;
    width: max-content;
    max-width: min(200px, calc(100vw - 32px));
    padding: 4px 8px;
    border: 1px solid #022e05;
    background-color: #0f5414;
    color: #60e075;
    font-size: 16px;
}

.help-marker[data-tooltip-align~='left']:hover::after {
    left: auto;
    right: 0;
}

.help-marker[data-tooltip-align~='bottom']:hover::after {
    top: 100%;
    bottom: auto;
    margin-top: 2px;
    margin-bottom: 0;
}

.action-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
}

.action-grid > .primary-button {
    box-sizing: border-box;
    padding: 4px 8px;
}
