html,
body {
    color: var(--text-color-light);
    background-color: var(--bg-2);
    -webkit-user-select: none;
    user-select: none;
    margin: 0;
}

img {
    -webkit-user-drag: none;
    pointer-events: none;
}

h1 {
    padding: 0;
    margin: 0;
}

h2 {
    padding: 4px 0;
    margin: 0;
    color: var(--text-muted) !important;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}

p {
    padding: 4px 0;
    margin: 0;
}

button {
    background-color: var(--button-color);
    color: var(--text-color-light);
    padding: 8px 20px;
    border: none;
    font-weight: 800;
    position: relative;
}

button:hover {
    background-color: var(--button-color-hover);
    cursor: pointer;
}

button:active,
button.pressed {
    background-color: var(--button-color);
    transform: translateY(2px);
}

button:disabled {
    opacity: 0.3;
}

.button-blue {
    background-color: rgb(0, 126, 130);
    color: var(--text-color-light);
}

.button-blue:hover {
    background-color: rgb(0, 144, 149);
}

.button-blue:active,
.button-blue.pressed {
    background-color: rgb(0, 126, 130);
}

.button-yellow {
    background-color: rgb(130, 117, 0);
    color: var(--text-color-light);
}

.button-yellow:hover {
    background-color: rgb(149, 134, 0);
}

.button-yellow:active,
.button-yellow.pressed {
    background-color: rgb(130, 117, 0);
}
