html,
body {
    color: #60e075;
    background-color: #081608;
}

h1 {
    padding: 0;
    margin: 0;
}

h2 {
    padding: 4px;
    margin: 0;
    margin-bottom: 8px;
    border-bottom: 1px solid #60e075;
}

p {
    padding: 4px 0;
    margin: 0;
}

.primary-button {
    background-color: #0f5414;
    color: #60e075;
    border-color: #022e05;
    padding: 4px 24px;
}

.primary-button:hover {
    border-color: #05510a;
    cursor: pointer;
}

.primary-button:disabled,
.primary-button[disabled] {
    opacity: 0.4;
    cursor: not-allowed;
}

.panel {
    width: 360px;
    margin-top: 8px;
}

.help-marker {
    display: inline-block;
    position: relative;
    color: #60e07599;
}

.help-marker:hover {
    cursor: help;
    color: #60e075e6;
}

.help-marker[data-tooltip]:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: 0;
    margin-bottom: 2px;
    z-index: 1;
    width: max-content;
    max-width: 200px;
    padding: 4px 8px;
    border: 1px solid #022e05;
    background-color: #0f5414;
    color: #60e075;
    font-size: 16px;
}

.action-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
}

.action-grid > .primary-button {
    box-sizing: border-box;
    padding: 4px 8px;
}
